WebRoot/WEB-INF/wsdl/GetServiceInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetServiceInfoService" targetNamespace="http://server.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.com/" schemaLocation="GetServiceInfoService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part element="tns:add" name="parameters"/>
  </message>
  <message name="addResponse">
    <part element="tns:addResponse" name="parameters"/>
  </message>
  <message name="delete">
    <part element="tns:delete" name="parameters"/>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameters"/>
  </message>
  <message name="removeService">
    <part element="tns:removeService" name="parameters"/>
  </message>
  <message name="removeServiceResponse">
    <part element="tns:removeServiceResponse" name="parameters"/>
  </message>
  <message name="registerService">
    <part element="tns:registerService" name="parameters"/>
  </message>
  <message name="registerServiceResponse">
    <part element="tns:registerServiceResponse" name="parameters"/>
  </message>
  <message name="getMyService">
    <part element="tns:getMyService" name="parameters"/>
  </message>
  <message name="getMyServiceResponse">
    <part element="tns:getMyServiceResponse" name="parameters"/>
  </message>
  <message name="getAllService">
    <part element="tns:getAllService" name="parameters"/>
  </message>
  <message name="getAllServiceResponse">
    <part element="tns:getAllServiceResponse" name="parameters"/>
  </message>
  <message name="getProvidedAppication">
    <part element="tns:getProvidedAppication" name="parameters"/>
  </message>
  <message name="getProvidedAppicationResponse">
    <part element="tns:getProvidedAppicationResponse" name="parameters"/>
  </message>
  <message name="getServiceFromRole">
    <part element="tns:getServiceFromRole" name="parameters"/>
  </message>
  <message name="getServiceFromRoleResponse">
    <part element="tns:getServiceFromRoleResponse" name="parameters"/>
  </message>
  <message name="loadAllSpec">
    <part element="tns:loadAllSpec" name="parameters"/>
  </message>
  <message name="loadAllSpecResponse">
    <part element="tns:loadAllSpecResponse" name="parameters"/>
  </message>
  <message name="registerSpec">
    <part element="tns:registerSpec" name="parameters"/>
  </message>
  <message name="registerSpecResponse">
    <part element="tns:registerSpecResponse" name="parameters"/>
  </message>
  <message name="removeSpec">
    <part element="tns:removeSpec" name="parameters"/>
  </message>
  <message name="removeSpecResponse">
    <part element="tns:removeSpecResponse" name="parameters"/>
  </message>
  <message name="getAllSpec">
    <part element="tns:getAllSpec" name="parameters"/>
  </message>
  <message name="getAllSpecResponse">
    <part element="tns:getAllSpecResponse" name="parameters"/>
  </message>
  <message name="getMySpec">
    <part element="tns:getMySpec" name="parameters"/>
  </message>
  <message name="getMySpecResponse">
    <part element="tns:getMySpecResponse" name="parameters"/>
  </message>
  <message name="launchSpec">
    <part element="tns:launchSpec" name="parameters"/>
  </message>
  <message name="launchSpecResponse">
    <part element="tns:launchSpecResponse" name="parameters"/>
  </message>
  <message name="cancelSpec">
    <part element="tns:cancelSpec" name="parameters"/>
  </message>
  <message name="cancelSpecResponse">
    <part element="tns:cancelSpecResponse" name="parameters"/>
  </message>
  <portType name="GetServiceInfoDelegate">
    <operation name="add">
      <input message="tns:add"/>
      <output message="tns:addResponse"/>
    </operation>
    <operation name="delete">
      <input message="tns:delete"/>
      <output message="tns:deleteResponse"/>
    </operation>
    <operation name="removeService">
      <input message="tns:removeService"/>
      <output message="tns:removeServiceResponse"/>
    </operation>
    <operation name="registerService">
      <input message="tns:registerService"/>
      <output message="tns:registerServiceResponse"/>
    </operation>
    <operation name="getMyService">
      <input message="tns:getMyService"/>
      <output message="tns:getMyServiceResponse"/>
    </operation>
    <operation name="getAllService">
      <input message="tns:getAllService"/>
      <output message="tns:getAllServiceResponse"/>
    </operation>
    <operation name="getProvidedAppication">
      <input message="tns:getProvidedAppication"/>
      <output message="tns:getProvidedAppicationResponse"/>
    </operation>
    <operation name="getServiceFromRole">
      <input message="tns:getServiceFromRole"/>
      <output message="tns:getServiceFromRoleResponse"/>
    </operation>
    <operation name="loadAllSpec">
      <input message="tns:loadAllSpec"/>
      <output message="tns:loadAllSpecResponse"/>
    </operation>
    <operation name="registerSpec">
      <input message="tns:registerSpec"/>
      <output message="tns:registerSpecResponse"/>
    </operation>
    <operation name="removeSpec">
      <input message="tns:removeSpec"/>
      <output message="tns:removeSpecResponse"/>
    </operation>
    <operation name="getAllSpec">
      <input message="tns:getAllSpec"/>
      <output message="tns:getAllSpecResponse"/>
    </operation>
    <operation name="getMySpec">
      <input message="tns:getMySpec"/>
      <output message="tns:getMySpecResponse"/>
    </operation>
    <operation name="launchSpec">
      <input message="tns:launchSpec"/>
      <output message="tns:launchSpecResponse"/>
    </operation>
    <operation name="cancelSpec">
      <input message="tns:cancelSpec"/>
      <output message="tns:cancelSpecResponse"/>
    </operation>
  </portType>
  <binding name="GetServiceInfoPortBinding" type="tns:GetServiceInfoDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMyService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProvidedAppication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceFromRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadAllSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMySpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="launchSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelSpec">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetServiceInfoService">
    <port binding="tns:GetServiceInfoPortBinding" name="GetServiceInfoPort">
      <soap:address location="http://localhost:8080/SSH_Prototype_J2EE_5.0/GetServiceInfoPort"/>
    </port>
  </service>
</definitions>
